<!DOCTYPE html>
<html lang="en">
<% include common/_head %>
<body>
  <section>
    <h1 class="miko">宮崎周辺のグルメ</h1>
    <div class="container">
    <dl>
    <dt>地鶏</dt>
    <dd>
        <ul>
        <li><a href="http://tabelog.com/aomori/A0201/A020101/2005888/" target="_blank">青森魚菜センター本店</a></li>
        </ul>
    </dd>
    </dl>
    </div>
</section>

<% include common/_js %>
</body>
</html>
