<!DOCTYPE html>
<html lang="jp">
<% include common/_head %>
<body>
<div class="mv">
  <div class="inner"><p>アプガ宮崎ツアー</p></div>
  <img class="bg" src="images/150831-OA-125018.jpg" width="100%">
</div>
<section>
<h1 class="miko ">日程</h1>
<div class="container">
</div>
</section>
<section>
<h1 class="konatsu">予習</h1>
<div class="container">
</div>
</section>
<section>
<h1 class="mori">大分決戦</h1>
<div class="container">
</div>
</section>
<section>
<h1 class="ayano">宮崎決戦</h1>
<div class="container">
</div>
</section>
<section>
<h1 class="akari">観光</h1>
<div class="container">
</div>
</section>
<section>
<h1 class="azu">グルメ</h1>
<div class="container">
</div>
</section>
<section>
<h1 class="mana">スマホの占い</h1>
<div class="container">
</div>
</section>

<% include common/_js %>
</body>
</html>
